web/WEB-INF/wsdl/localhost_8084/ServicioWeb/CARRERA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CARRERA/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CARRERA/" name="CARRERA">
<types>
<xsd:schema>
<xsd:import namespace="http://CARRERA/" schemaLocation="http://localhost:8084/ServicioWeb/CARRERA?xsd=1" />
</xsd:schema>
</types>
<message name="DELETE_CARRERA">
<part name="parameters" element="tns:DELETE_CARRERA" />
</message>
<message name="DELETE_CARRERAResponse">
<part name="parameters" element="tns:DELETE_CARRERAResponse" />
</message>
<message name="ADD_CARRERA">
<part name="parameters" element="tns:ADD_CARRERA" />
</message>
<message name="ADD_CARRERAResponse">
<part name="parameters" element="tns:ADD_CARRERAResponse" />
</message>
<message name="UPDATE_CARRERA">
<part name="parameters" element="tns:UPDATE_CARRERA" />
</message>
<message name="UPDATE_CARRERAResponse">
<part name="parameters" element="tns:UPDATE_CARRERAResponse" />
</message>
<portType name="CARRERA">
<operation name="DELETE_CARRERA">
<input wsam:Action="http://CARRERA/CARRERA/DELETE_CARRERARequest" message="tns:DELETE_CARRERA" />
<output wsam:Action="http://CARRERA/CARRERA/DELETE_CARRERAResponse" message="tns:DELETE_CARRERAResponse" />
</operation>
<operation name="ADD_CARRERA">
<input wsam:Action="http://CARRERA/CARRERA/ADD_CARRERARequest" message="tns:ADD_CARRERA" />
<output wsam:Action="http://CARRERA/CARRERA/ADD_CARRERAResponse" message="tns:ADD_CARRERAResponse" />
</operation>
<operation name="UPDATE_CARRERA">
<input wsam:Action="http://CARRERA/CARRERA/UPDATE_CARRERARequest" message="tns:UPDATE_CARRERA" />
<output wsam:Action="http://CARRERA/CARRERA/UPDATE_CARRERAResponse" message="tns:UPDATE_CARRERAResponse" />
</operation>
</portType>
<binding name="CARRERAPortBinding" type="tns:CARRERA">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="DELETE_CARRERA">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ADD_CARRERA">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UPDATE_CARRERA">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CARRERA">
<port name="CARRERAPort" binding="tns:CARRERAPortBinding">
<soap:address location="http://localhost:8084/ServicioWeb/CARRERA" />
</port>
</service>
</definitions>