src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8084/ServicioWeb/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Modelo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Modelo/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://Modelo/" schemaLocation="http://localhost:8084/ServicioWeb/Servicios?xsd=1" />
</xsd:schema>
</types>
<message name="ListarPrestamosId">
<part name="parameters" element="tns:ListarPrestamosId" />
</message>
<message name="ListarPrestamosIdResponse">
<part name="parameters" element="tns:ListarPrestamosIdResponse" />
</message>
<message name="ListarDevoluciones">
<part name="parameters" element="tns:ListarDevoluciones" />
</message>
<message name="ListarDevolucionesResponse">
<part name="parameters" element="tns:ListarDevolucionesResponse" />
</message>
<message name="GuardarDevolucion">
<part name="parameters" element="tns:GuardarDevolucion" />
</message>
<message name="GuardarDevolucionResponse">
<part name="parameters" element="tns:GuardarDevolucionResponse" />
</message>
<message name="ActualizarUsuario">
<part name="parameters" element="tns:ActualizarUsuario" />
</message>
<message name="ActualizarUsuarioResponse">
<part name="parameters" element="tns:ActualizarUsuarioResponse" />
</message>
<message name="Validar">
<part name="parameters" element="tns:Validar" />
</message>
<message name="ValidarResponse">
<part name="parameters" element="tns:ValidarResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="ActualizarLibro">
<part name="parameters" element="tns:ActualizarLibro" />
</message>
<message name="ActualizarLibroResponse">
<part name="parameters" element="tns:ActualizarLibroResponse" />
</message>
<message name="EliminarUsuario">
<part name="parameters" element="tns:EliminarUsuario" />
</message>
<message name="EliminarUsuarioResponse">
<part name="parameters" element="tns:EliminarUsuarioResponse" />
</message>
<message name="EliminarLibro">
<part name="parameters" element="tns:EliminarLibro" />
</message>
<message name="EliminarLibroResponse">
<part name="parameters" element="tns:EliminarLibroResponse" />
</message>
<message name="GuardarLibro">
<part name="parameters" element="tns:GuardarLibro" />
</message>
<message name="GuardarLibroResponse">
<part name="parameters" element="tns:GuardarLibroResponse" />
</message>
<message name="ListarUsuarios">
<part name="parameters" element="tns:ListarUsuarios" />
</message>
<message name="ListarUsuariosResponse">
<part name="parameters" element="tns:ListarUsuariosResponse" />
</message>
<message name="Guardarlogin">
<part name="parameters" element="tns:Guardarlogin" />
</message>
<message name="GuardarloginResponse">
<part name="parameters" element="tns:GuardarloginResponse" />
</message>
<message name="GuardarUsuario">
<part name="parameters" element="tns:GuardarUsuario" />
</message>
<message name="GuardarUsuarioResponse">
<part name="parameters" element="tns:GuardarUsuarioResponse" />
</message>
<message name="ListarUsuariosId">
<part name="parameters" element="tns:ListarUsuariosId" />
</message>
<message name="ListarUsuariosIdResponse">
<part name="parameters" element="tns:ListarUsuariosIdResponse" />
</message>
<message name="ListarLibros">
<part name="parameters" element="tns:ListarLibros" />
</message>
<message name="ListarLibrosResponse">
<part name="parameters" element="tns:ListarLibrosResponse" />
</message>
<message name="ListarPrestamos">
<part name="parameters" element="tns:ListarPrestamos" />
</message>
<message name="ListarPrestamosResponse">
<part name="parameters" element="tns:ListarPrestamosResponse" />
</message>
<message name="ListarLibrosId">
<part name="parameters" element="tns:ListarLibrosId" />
</message>
<message name="ListarLibrosIdResponse">
<part name="parameters" element="tns:ListarLibrosIdResponse" />
</message>
<message name="GuardarPrestamo">
<part name="parameters" element="tns:GuardarPrestamo" />
</message>
<message name="GuardarPrestamoResponse">
<part name="parameters" element="tns:GuardarPrestamoResponse" />
</message>
<portType name="Servicios">
<operation name="ListarPrestamosId">
<input wsam:Action="http://Modelo/Servicios/ListarPrestamosIdRequest" message="tns:ListarPrestamosId" />
<output wsam:Action="http://Modelo/Servicios/ListarPrestamosIdResponse" message="tns:ListarPrestamosIdResponse" />
</operation>
<operation name="ListarDevoluciones">
<input wsam:Action="http://Modelo/Servicios/ListarDevolucionesRequest" message="tns:ListarDevoluciones" />
<output wsam:Action="http://Modelo/Servicios/ListarDevolucionesResponse" message="tns:ListarDevolucionesResponse" />
</operation>
<operation name="GuardarDevolucion">
<input wsam:Action="http://Modelo/Servicios/GuardarDevolucionRequest" message="tns:GuardarDevolucion" />
<output wsam:Action="http://Modelo/Servicios/GuardarDevolucionResponse" message="tns:GuardarDevolucionResponse" />
</operation>
<operation name="ActualizarUsuario">
<input wsam:Action="http://Modelo/Servicios/ActualizarUsuarioRequest" message="tns:ActualizarUsuario" />
<output wsam:Action="http://Modelo/Servicios/ActualizarUsuarioResponse" message="tns:ActualizarUsuarioResponse" />
</operation>
<operation name="Validar">
<input wsam:Action="http://Modelo/Servicios/ValidarRequest" message="tns:Validar" />
<output wsam:Action="http://Modelo/Servicios/ValidarResponse" message="tns:ValidarResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://Modelo/Servicios/helloRequest" message="tns:hello" />
<output wsam:Action="http://Modelo/Servicios/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="ActualizarLibro">
<input wsam:Action="http://Modelo/Servicios/ActualizarLibroRequest" message="tns:ActualizarLibro" />
<output wsam:Action="http://Modelo/Servicios/ActualizarLibroResponse" message="tns:ActualizarLibroResponse" />
</operation>
<operation name="EliminarUsuario">
<input wsam:Action="http://Modelo/Servicios/EliminarUsuarioRequest" message="tns:EliminarUsuario" />
<output wsam:Action="http://Modelo/Servicios/EliminarUsuarioResponse" message="tns:EliminarUsuarioResponse" />
</operation>
<operation name="EliminarLibro">
<input wsam:Action="http://Modelo/Servicios/EliminarLibroRequest" message="tns:EliminarLibro" />
<output wsam:Action="http://Modelo/Servicios/EliminarLibroResponse" message="tns:EliminarLibroResponse" />
</operation>
<operation name="GuardarLibro">
<input wsam:Action="http://Modelo/Servicios/GuardarLibroRequest" message="tns:GuardarLibro" />
<output wsam:Action="http://Modelo/Servicios/GuardarLibroResponse" message="tns:GuardarLibroResponse" />
</operation>
<operation name="ListarUsuarios">
<input wsam:Action="http://Modelo/Servicios/ListarUsuariosRequest" message="tns:ListarUsuarios" />
<output wsam:Action="http://Modelo/Servicios/ListarUsuariosResponse" message="tns:ListarUsuariosResponse" />
</operation>
<operation name="Guardarlogin">
<input wsam:Action="http://Modelo/Servicios/GuardarloginRequest" message="tns:Guardarlogin" />
<output wsam:Action="http://Modelo/Servicios/GuardarloginResponse" message="tns:GuardarloginResponse" />
</operation>
<operation name="GuardarUsuario">
<input wsam:Action="http://Modelo/Servicios/GuardarUsuarioRequest" message="tns:GuardarUsuario" />
<output wsam:Action="http://Modelo/Servicios/GuardarUsuarioResponse" message="tns:GuardarUsuarioResponse" />
</operation>
<operation name="ListarUsuariosId">
<input wsam:Action="http://Modelo/Servicios/ListarUsuariosIdRequest" message="tns:ListarUsuariosId" />
<output wsam:Action="http://Modelo/Servicios/ListarUsuariosIdResponse" message="tns:ListarUsuariosIdResponse" />
</operation>
<operation name="ListarLibros">
<input wsam:Action="http://Modelo/Servicios/ListarLibrosRequest" message="tns:ListarLibros" />
<output wsam:Action="http://Modelo/Servicios/ListarLibrosResponse" message="tns:ListarLibrosResponse" />
</operation>
<operation name="ListarPrestamos">
<input wsam:Action="http://Modelo/Servicios/ListarPrestamosRequest" message="tns:ListarPrestamos" />
<output wsam:Action="http://Modelo/Servicios/ListarPrestamosResponse" message="tns:ListarPrestamosResponse" />
</operation>
<operation name="ListarLibrosId">
<input wsam:Action="http://Modelo/Servicios/ListarLibrosIdRequest" message="tns:ListarLibrosId" />
<output wsam:Action="http://Modelo/Servicios/ListarLibrosIdResponse" message="tns:ListarLibrosIdResponse" />
</operation>
<operation name="GuardarPrestamo">
<input wsam:Action="http://Modelo/Servicios/GuardarPrestamoRequest" message="tns:GuardarPrestamo" />
<output wsam:Action="http://Modelo/Servicios/GuardarPrestamoResponse" message="tns:GuardarPrestamoResponse" />
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ListarPrestamosId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListarDevoluciones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GuardarDevolucion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Validar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizarLibro">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="EliminarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="EliminarLibro">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GuardarLibro">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListarUsuarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Guardarlogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GuardarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListarUsuariosId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListarLibros">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListarPrestamos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListarLibrosId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GuardarPrestamo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8084/ServicioWeb/Servicios" />
</port>
</service>
</definitions>